/*
CITRICOX - SASS BOOTSTRAP THEME
Author: Ismael Fernández
Version: 1.0
*/
/*BASE - Base styles, variables, mixins,etc */
/* Font Colors*/
/* Background Colors */
@media (max-width: 767px) {
  /* line 44, ../scss/base/_mixins.scss */
  ul.navbar-nav {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
/* line 1, ../scss/base/_normalize.scss */
h1, h2, h3, h4, h5 {
  margin-top: 0;
}

/* line 5, ../scss/base/_normalize.scss */
.progress {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #EBEBEB;
  height: 40px;
  margin-top: 30px;
}

/* line 14, ../scss/base/_normalize.scss */
.skillbar {
  background: #EC6363;
  line-height: 37px;
  padding-left: 10px;
}

/* line 22, ../scss/base/_normalize.scss */
.form-control {
  border-radius: 0;
}

/* line 25, ../scss/base/_normalize.scss */
input, select, textarea {
  border: 1px solid #DDD !important;
  height: 42px;
  font-size: 18px;
  padding: 10px;
}

/* line 1, ../scss/base/_base.scss */
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666;
}

/* line 7, ../scss/base/_base.scss */
a {
  color: #00aff0;
}

/* line 11, ../scss/base/_base.scss */
ul, li {
  list-style: none;
}

/* line 13, ../scss/base/_base.scss */
input, textarea, button, select {
  border-radius: 0;
}

/* MODULES */
/* line 1, ../scss/modules/_buttons.scss */
button, input[type="submit"], input[type="reset"] {
  border-radius: 0px;
  border: none !important;
}

/* line 2, ../scss/modules/_sections.scss */
#cargarUser input[type="text"], #cargarUser input[type="email"] {
  width: 100%;
}

/* line 1, ../scss/modules/_components.scss */
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-radius: 0;
}

/* LAYOUTS */
/* NavBar */
/* line 2, ../scss/layouts/_nav.scss */
.navbar {
  width: 100%;
  margin: auto;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  background: #29211c;
  min-height: 60px;
  margin-bottom: 30px;
}
/* line 13, ../scss/layouts/_nav.scss */
.navbar a {
  font-size: 20px;
}
/* line 18, ../scss/layouts/_nav.scss */
.navbar a:hover {
  color: #666666 !important;
}
/* line 19, ../scss/layouts/_nav.scss */
.navbar a:focus {
  color: #666666 !important;
}
/* line 21, ../scss/layouts/_nav.scss */
.navbar .nav {
  float: right;
}
/* line 23, ../scss/layouts/_nav.scss */
.navbar a {
  color: #FFF !important;
}

/* line 1, ../scss/layouts/_footer.scss */
footer {
  background: #ebebeb;
}
