body{
	font-family:$base-font-family;
	font-size: $base-font-size;
	line-height:1.7em;
	color: $base-font-color;
}
a{
	color:#00aff0;
}

ul,li{list-style:none}

input,textarea,button,select{
border-radius:0;

} 
