/* Font Colors*/

$base-font-size:1.5;
$base-font-family:"Segoe UI","Segoe WP","Segoe Regular",sans-serif;
/*$base-font-family:sans-serif;*/
$base-font-color:#666;

/* Background Colors */

$primary-color:#00aff0;
$secondary-color:#7fba00;
$light-color:#efeef2;
$dark-color:#333;
