/* NavBar */
.navbar{
	width:100%;
	margin:auto;
	@include add-border(1px, #e7e7e7, 'right-left');
	border-color:#e7e7e7;
	background:#5699AA;
	min-height:60px;
	margin-bottom:30px;



	a{
      font-size:1.2em;

       
	}
	a:hover{color:#DDD !important}
    a:focus{color:#DDD !important}
	
	.nav{float:right}

	a{color:#FFF !important}


}