/* NavBar */
.navbar{
	width:90%;
	margin:auto;
	@include add-border(1px, #e7e7e7, 'right-left');
	border-color:#e7e7e7;
	background:#FFF;
	min-height:60px;
	margin-bottom:30px;



	a{
      color:$primary-color;
      font-size:20px;

       
	}
	a:hover{color:$base-font-color !important}
    a:focus{color:$base-font-color !important}
	
	.nav{float:right}




}